<%= render "users/navbar" %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="list-group">
      <% @user.followers.each do |user| %>
        <%= render "users/user", user: user %>
      <% end%>
    </div>
  </div>
</div>
